header h1 a {
  margin-left: ;
  color: rgb(22, 22, 22);
  text-align: center;
}
header a {
  color: rgb(160, 8, 8);
}
body {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 18px;
  background-color: rgb(240, 234, 221);
}
header {
  margin-bottom: 2rem;
  margin-left: auto;
  margin-right: auto;
  border-bottom: 4px ridge rgb(22, 22, 22);
  display: block;
  background-image: url("../img/jason.png");
  background-repeat: no-repeat;
  background-position: center;
  background-size: 200px;
}
.nav-left {
  margin-right: auto;
}
.nav-right {
  display: flex;
  padding-top: 2rem;
}
.fa-plus {
  margin-right: 0.5rem;
}
.post-entry {
  margin-bottom: 2rem;
}
.post-entry h2 {
  margin: 0.5rem 0;
}
.post-entry h2 a,
.post-entry h2 a:visited {
  color: rgb(160, 8, 8);
  text-decoration: none;
}
.post-entry p {
  color: rgb(22, 22, 22);
  margin-left: 1rem;
  font-weight: 400;
}
.post-entry h2 a:hover {
  color: rgb(216, 17, 17);
}
footer {
  text-align: center;
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  color: rgb(22, 22, 22);
  font-size: 10px;
}
