{% load static %}
<html>
    <head>
        <title>Horror Fans Blog</title>
        <link rel="preconnect" href="https://fonts.gstatic.com">
        <link href="https://fonts.googleapis.com/css2?family=Fraunces:wght@300&display=swap" rel="stylesheet">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.7/css/all.css">
    </head>
    <body>
        <div class="header-pic">
            <header>
                <div class='nav-left'>
                    <h1><a href="{% url 'home' %}">Horror Fans Blog</a></h1>
                </div>
                <div class='nav-right'></div>
                    <a href="{% url 'post_new' %}"><i class="fas fa-plus"></i>New Blog Post</a>
                </div>
            </header>
            <div class="auth">
            {% if user.is_authenticated %}
                <p>Welcome {{ user.username }}!</p>
                <p><a href="{% url 'logout' %}">Log out</a></p>
            {% else %}
                <p>You are not logged in.</p>
                <a href="{% url 'login' %}">Log In</a>
            {% endif %}
            </div>
        {% block content %}
        {% endblock content %}
        </div>
    </body>
</html>
